{% extends 'base.html' %} 
{% load static %} 
{% block body %}

<div class="container-fluid bg">
    <div class="row pt-3">
        <div class="col">
          <span class="circles">
              <div class="circle1"></div>
              <div class="circle2"></div>
              <div class="circle3"></div>
              <img
                  style="width: 30%"
                  class="img-fluid"
                  src="{% static 'images/bg4.png' %}"
                  alt=""
                  class="ms-3"
              />
          </span>
      </div>

      <div class="col" >
          <a class="btn btn-sm btn-primary btn-simple text-right animation-on-hover float-right" href="/admin">ADMIN</a>
      </div>
    </div>

  <div class="row justify-content-center text-center">
    <div class="col-12">
        <h1 class="card-title heade mt-5 pt-5">Dr MINA</h1>
        <h3 class="card-category mt-5">Clinic management system</h3>
         <div class="mt-5 text-center d-flex justify-content-center">
          {% if user.is_authenticated %}
           <div class="mt-5 col-sm-6 justify-content-center">
            <a class="btn btn-sm btn-primary" href="{% url 'logout' %}">LOGOUT</a></div>
          {% else %}
          <a class="btn btn-sm btn-primary" href="{% url 'admin:login' %}">LOGIN</a>
           &emsp; <a class="btn btn-sm btn-primary" href="{% url 'auth_signup' %}">SIGNUP</a>
          {% endif %}
          </div>
    </div>
  </div>

  <footer class="foote px-3 py-2 fixed-bottom" style="color: #f4f5f780; ">
    <small class="copyrigh  mx-aut float-left text-left">
        ©
        <script>
            document.write(new Date().getFullYear())
        </script>
        Doctor Mina
      </small>
</footer>
</div>

{% endblock %}
