{% extends 'base.html' %} {% load static %} {% block body %}

<div class="container-fluid">
    <div class="row mt-3">
      <div class="col-6">
          <span class="circles">
              <div class="circle1"></div>
              <div class="circle2"></div>
              <div class="circle3"></div>
              <img
                  style="width: 30%"
                  class="img-fluid"
                  src="{% static 'images/bg4.png' %}"
                  alt=""
                  class="ms-3"
              />
          </span>
      </div>
      <div class="col-6">
          <a class="btn btn-sm btn-primary btn-simple float-right" href="/admin">ADMIN</a>
      </div>
    </div>

  <div class="row d-fle justify-content-center text-center" >
    <div class="mt-">
      <style>
        @media screen and (max-width:360px){
          .header {
          margin-top: 15%;
         }
        }

        @media screen and (min-width:361px){
          .header {
          margin-top: 25%;
         }
        }

        @media screen and (min-width:600px){
          .header {
          margin-top: 65%;
         }
        }
      </style>
      
        <h2 class="card-title header">Dr MINA</h2>
        <h4 class="card-category mt">Clinic management system</h4>

         <div class="row text-center justify-content-center mt- pt-" style="margin-top: 67%;">
          {% if user.is_authenticated %}
           <div class="mt-5 col-sm-6"><a class="btn-sm btn-primary" href="{% url 'logout' %}">LOGOUT</a></div>
          {% else %}
          <a class="btn-sm btn-primary" href="{% url 'admin:login' %}">LOGIN</a>
         &emsp; <a class="btn-sm btn-primary" href="{% url 'auth_signup' %}">SIGNUP</a>
          {% endif %}
          </div>
    </div>
  </div>

  <footer class="foote px-3 py-2 fixed-bottom" style="color: #f4f5f780; ">
    <small class="copyrigh  mx-aut float-left text-left">
        ©
        <script>
            document.write(new Date().getFullYear())
        </script>
        Doctor Mina
      </small>
</footer>
</div>

{% endblock %}
